@font-face {
  font-family: "iconfont"; /* Project id 3519341 */
  src: url('iconfont.eot?t=1657696135453'); /* IE9 */
  src: url('iconfont.eot?t=1657696135453#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1657696135453') format('woff2'),
       url('iconfont.woff?t=1657696135453') format('woff'),
       url('iconfont.ttf?t=1657696135453') format('truetype'),
       url('iconfont.svg?t=1657696135453#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconMe-elment:before {
  content: "\e8ca";
}

.iconMe-shouye:before {
  content: "\e600";
}

.iconMe-html5:before {
  content: "\e601";
}

.iconMe-javascript:before {
  content: "\e636";
}

.iconMe-css:before {
  content: "\e653";
}

.iconMe-config:before {
  content: "\e612";
}

.iconMe-vue:before {
  content: "\e69a";
}

.iconMe-antdesign:before {
  content: "\eaa1";
}

